<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="app.component.css">
  <title>Calculadora</title>
</head>

<body>
    
  <div class="cabecera text-white text-center py-4">
    <h1>{{title}}</h1>
  </div>
  <div class="container" >
    <form class="text-center">
      <div class="form-group mx-auto col-6">
        <br><br>
        <label for="numero1">Numero 1:</label>
        <input type="number" [(ngModel)]="numero1" name="numero1" class="form-control">
      </div>
      <br>
      <div class="form-group mx-auto col-6">
        <label for="numero2">Numero 2:</label>
        <input type="number" [(ngModel)]="numero2" name="numero2" class="form-control">
      </div>

      <input type="submit" value="Sumar" (click)="sumar()" class="btn btn-primary" style="margin: 10.2px;">
      <input type="submit" value="Restar" (click)="restar()" class="btn btn-primary" style="margin: 10px;">
      <input type="submit" value="Multiplicar" (click)="multiplicar()" class="btn btn-primary" style="margin: 10px;">
      <input type="submit" value="Dividir" (click)="dividir()" class="btn btn-primary" style="margin: 10px;">
      <input type="submit" value="Porcentaje"(click)="porcentaje()" class="btn btn-success" style="margin: 10px;">
      
      <input type="submit" value="Limpiar" (click)="limpiar()" class="btn btn-danger" style="margin: 10px;">
      
    </form>

    <div class="alert alert-primary form-group mx-auto col-6" role="alert">
      Resultado: {{resultado}}
    </div>

    <div class="steban text-center text-black">
        <p>By: Steban Romero.</p>
    </div>
  </div>

</body>

</html>
